.header {
	height: 600px;
	background-image: url('./baloons.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

nav {
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav ul li {
	margin: 10px;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0);
}

nav a {
	display: block;
	padding: 9px 15px;
	color: #fefcfb;
	font-size: 17px;
	text-decoration: none;
}

.signup-btn {
	border: 1px solid #fff;
	border-radius: 5px;
}

.signup-btn:hover {
	background-color: white;
	color: rgba(0, 0, 0, 60%);
}

/* form {
	width: 60%;
} */

/* .search-btn {
	width: 40px;
	height: 40px;
} */

.search-logo {
	margin-top: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.search {
	width: 60%;
	position: relative;
	display: flex;
	/* height: 80%; */
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.searchTerm {
	width: 100%;
	border: 3px solid #cc0011;
	border-right: none;
	padding: 5px;
	height: 20px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #cf6b80;
}

.searchTerm:focus {
	color: #d85a65;
	outline: none;
}

.searchButton {
	width: 70px;
	height: 40px;
	border: 1px solid #cc0022;
	background: #cc002c;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
	margin-left: -4px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
	width: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.page-logo {
	width: 350px;
	display: block;
}
