.header {
	height: 600px;
	background-image: url('./baloons.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

html,
body {
	height: 100%;
	margin: 0;
}

.footer {
	margin-top: 150px;
	height: 100px;
	background-color: #0a1128;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-github {
	color: #fefcfb;
	font-size: 50px;
	margin: 0 100px;
}

.footer-links {
	color: #fefcfb;
}

nav {
	margin: 0 0 40px 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav ul li {
	margin: 10px;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0);
}

nav a {
	display: block;
	padding: 9px 15px;
	color: #fefcfb;
	font-size: 17px;
	text-decoration: none;
}

nav ul li:hover {
	/* background-color: #034078; */
}

.signup-btn {
	border: 1px solid #fff;
	border-radius: 5px;
}

.signup-btn:hover {
	background-color: white;
}
.signup-btn > a:hover {
	color: rgba(0, 0, 0, 50%);
}

.search {
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-input {
	/* position: relative;
	margin: 0 auto; */
}

.LogOutBTN {
	display: block;
	padding: 14px 20px;
	color: #fefcfb;
	font-size: 17px;
	text-decoration: none;
	border: 0;
	background-color: #4c4e53;
}

.LogOutBTN:focus {
	outline: none;
}

.LogOutBTN:hover {
	/* background-color: #034078; */
	cursor: pointer;
}

.profile-menu {
	color: white;
	position: absolute;
	top: 200px;
	left: 200px;
	background-color: #0a1128;
	padding: 5px;
	border-radius: 5px;
}
