h1 {
	text-align: center;
	font-weight: 200;
	font-size: 2em;
	margin-top: 10px;
	color: #5c5c5c;
	margin-bottom: 10px;
}

.loginWrap {
	position: relative;
	margin: 90px auto;
	background-color: #fefcfb;
	width: 350px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px #333;
	padding: 15px;
}

input[type='email'],
input[type='text'],
input[type='password'],
button {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 10px;
	height: 40px;
	border-radius: 5px;
	outline: 0;
}

#submitButton {
	margin-top: 10px;
}

input[type='email'],
input[type='text'],
input[type='password'] {
	border: 1px solid #cccccc;
	padding: 0 0 0 10px;
	font-size: 14px;
}

input[type='email']:focus,
input[type='text']:focus,
input[type='password']:focus {
	border: 1px solid #034078;
}

.switchLink {
	margin-top: 10px;
	text-align: center;
	color: #5c5c5c;
	font-size: 8px;
	text-decoration: none;
	margin-bottom: 20px;
}

.footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.errorsList {
	list-style-position: none;
	margin-left: 20px;
}

.errorsContainer {
	width: 90%;
	border: 1px solid #c44536;
	padding: 10px;
	background-color: #ffb1b4;
	color: #c44536;
	border-radius: 5px;
	margin: 15px 5%;
}
