.main-nav {
	margin: 0 0 40px 0;
	padding: 0;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 80px;
	border-bottom: 1px solid rgb(238, 238, 238);
}

.main-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-right: 10px;
	/* position: relative; */
}

.main-nav ul li {
	margin: 0px;
	display: inline-block;
	background-color: #fff;
}

.main-nav a {
	display: block;
	padding: 10px 17px;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
	margin-right: 5px;
}

.nav-search {
	width: 40%;
	position: relative;
	display: flex;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
}

.nav-searchTerm {
	width: 100%;
	border-right: none;
	height: 20px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #cf6b80;
	font-size: 18px;
	height: 40px;
	border: 1px solid #cccccc;
	padding: 0 0 0 15px;
	font-size: 14px;
}

.nav-searchTerm:focus {
	color: #5e5e5e;
	outline: none;
}

.nav-searchTerm:focus {
	border: 1px solid #aa0412;
}

.nav-searchButton {
	width: 70px;
	height: 40px;
	border: 1px solid #cc0022;
	background: #cc002c;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
	margin-left: -4px;
}

.nav-login-btn,
.nav-logout-btn {
	border: 1px solid rgb(189, 189, 189);
	border-radius: 5px;
	transition: all 0.5s;
	color: #525252;
}
.nav-signup-btn {
	background-color: #cc0022;
	color: #fff;
	border-radius: 5px;
	transition: all 0.5s;
}

.nav-login-btn:hover,
.nav-logout-btn:hover {
	background-color: rgb(247, 247, 247);
	color: rgba(0, 0, 0, 60%);
}

.nav-signup-btn:hover {
	background-color: #e40026;
}
